<table width="100%">
	<tr>
		<th>
			Сирченко Александр Станиславович
		</th>
	</tr>
	<tr>
		<th>
			<%= image_tag("avatar.jpg", height:'500')%>
		</th>
		<th align="left" valign="top">
			<p><%= link_to('Обо мне', '#')%></p>
			<p><%= link_to('Мои работы', '#')%></p>
			<p><%= link_to('Сделать заказ', '#')%></p>
			<p><%= link_to('Контакты', '#')%></p>
		</th>
	</tr>
</table>